.xml-viewer-wrapper {
  width: 100%;
  background-color: rgb(39, 40, 34);
  margin-top: 20px;
  padding: 10px;
  border: 10px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.info-message,
.success-message {
  font-size: 16px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f8f9fa;
  color: #495057;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ced4da;
}

.info-message {
  background-color: #e9ecef;
}

.success-message {
  background-color: #d4edda;
  color: var(--success-info);
}
